html {
    scroll-behavior: smooth;
  }
div{
    /* white-space: nowrap; */
}
.btn{
    background-color: white;
}

.bd-none-l{
    border-left: none!important;
}
.bd-none-r{
    border-right: none!important;
}

.bg-color-bug{
    border: solid 3px #ff210a;
}
.bg-color-aqua{
    border: solid 3px #0ac6ff;
}
.bg-color-bird{
    border: solid 3px rgb(255, 107, 144);
}
.bg-color-beast{
    border: solid 3px yellow;
}
.bg-color-plant{
    border: solid 3px rgb(15, 146, 33);
}
.bg-color-rep{
    border: solid 3px rgb(190, 31, 190);
}

.bg-color-up{
    border: solid 3px #005cbf;
}
.bg-color-down{
    border: solid 3px #dc3545;
}

.bg-color-bug:hover,.bg-color-bug.active{
    color: white;
    background-color: #ff210a!important;
}
.bg-color-aqua:hover,.bg-color-aqua.active{
    color: white;
    background-color: #0ac6ff!important;
}
.bg-color-bird:hover{
    color: white;
    background-color: rgb(255, 107, 144)!important;
}
.bg-color-beast:hover{
    color: white;
    background-color: yellow!important;
}
.bg-color-plant:hover,.bg-color-plant.active{
    color: white;
    background-color: rgb(15, 146, 33)!important;
}
.bg-color-rep:hover{
    color: white;
    background-color: rgb(190, 31, 190)!important;
}

.bg-color-up.active{
    color: white;
    background-color: #005cbf!important;
}
.bg-color-down.active{
    color: white;
    background-color: #dc3545!important;
}
.loading-section{
    font-size: 50px;
    margin-top: 50px;
}
.loading-icon{
    animation-name: rotate-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.container.row{
    border: solid 5px gray;
    border-radius: 15px;
}

.axie-box{
    border: solid 5px gray;
    border-radius: 15px;
    
}

.axie-box-green{
    border: solid 5px green;
}

i.fa-arrow-right{
    transition: linear 0.1s;
}

i.fa-arrow-right:hover{
    transition: linear 0.1s;
}

a{
    color: inherit;
}
a:hover{
    color: inherit;
}

.axie-img img{
    max-width: 100%;
    min-width: 100px;
}

.row.axie-box{
    height: 100%;
}
.cal-intro{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.calculator-section{
    display: none;

}


.cal-image-box-sm{
    display: none;
    text-align: center;
    width: 100%;
    background: url(./resources/img/bg.jpg) no-repeat;
    background-size: cover;
}
.cal-image-box-sm img{
    width: 80%;
    animation: bouncing 1.5s infinite linear;

}
.cal-image-box img{
    min-height: 100%;
    width: 100%;
    animation: bouncing 1.5s infinite linear;
    object-fit: cover;
    object-position: 30%;
    transition: all 5s;
}
.cal-image-box{
    min-height: 520px;
    padding-left: 0;
    padding-right: 0;
    border-right:solid 5px gray;   
    background-repeat: repeat-x;
    background: url(./resources/img/bg2.png) no-repeat center ;
    background-size: cover;
}
.row{
    height: inherit;
}

.axie-moves.btn{
    /* border: solid 1px gray;
    transition-duration: 0.4s; */
    /* box-shadow: 2px 2px 2px; */
    background-color: white;
    border-radius: 15px;
}
.move-stacks{
    display: inline-block;
    padding: 5px;
    border-radius: 0.25rem;
}
.cal-reset{
    cursor: pointer;
}
.cal-reset:hover{
    font-weight: 500;
    text-decoration: underline;
}
.cal-reset:hover icon{
    animation-name: rotate-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transition: all 1s; */
}
@keyframes rotate-circle{
    0%{transform:rotate(360deg);}
    100%{transform:rotate(-360deg);}
}

@keyframes bouncing{
    0%{transform: translateY(0px)}
    60%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}

@media screen and (max-width: 500px) {
    .cal-image-box{
        display: none;
    }
    .cal-image-box-sm{
        display: block;
    }
}