html {
    scroll-behavior: smooth;
  }
body{
    background: url(./resources/img/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div{
    /* white-space: nowrap; */
}

*:focus{
    outline: none;
}
.btn{
    background-color: white;
}
.container{
    /* position: relative;
    background-color: white;
    border-radius: 15px; */
}


.bd-none-l{
    border-left: none!important;
}
.bd-none-r{
    border-right: none!important;
}

.bg-color-bug{
    border: solid 3px #ff210a;
}
.bg-color-aqua{
    border: solid 3px #0ac6ff;
}
.bg-color-bird{
    border: solid 3px rgb(255, 107, 144);
}
.bg-color-beast{
    border: solid 3px yellow;
}
.bg-color-plant{
    border: solid 3px rgb(15, 146, 33);
}
.bg-color-rep{
    border: solid 3px rgb(190, 31, 190);
}

.bg-color-up{
    border: solid 3px #005cbf;
}
.bg-color-down{
    border: solid 3px #dc3545;
}

.bg-color-bug:hover,.bg-color-bug.active{
    color: white;
    background-color: #ff210a!important;
}
.bg-color-aqua:hover,.bg-color-aqua.active{
    color: white;
    background-color: #0ac6ff!important;
}
.bg-color-bird:hover{
    color: white;
    background-color: rgb(255, 107, 144)!important;
}
.bg-color-beast:hover{
    color: white;
    background-color: yellow!important;
}
.bg-color-plant:hover,.bg-color-plant.active{
    color: white;
    background-color: rgb(15, 146, 33)!important;
}
.bg-color-rep:hover{
    color: white;
    background-color: rgb(190, 31, 190)!important;
}

.bg-color-up.active{
    color: white;
    background-color: #005cbf!important;
}
.bg-color-down.active{
    color: white;
    background-color: #dc3545!important;
}
#contain-bg{
    display: block;
    position: absolute;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    min-height: 300px;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: rgba(255,255,255,0.7);
    transition: all ease 0.5s;
    
}
.navbartest{
    position: absolute;
    width: 20%;
    top: 0;
    background-color: #8ec4cb; 
    transition: all linear 0.5s;
}
.navbartest{
}
.navbartest#navbar-2{
    right: 0;
}
.navbar-section.active .navbartest{
    height: 58px;
    width: 50%;
    transition: all linear 0.5s;
}
.input-section{
    position: relative;
    margin: auto -15px ;
    margin-top: 29vh;
    transition: ease 1s;
}
.input-section.done{
    margin-top: 4px;
    margin-bottom: 20px;
    transition: ease 1s;
}
.axie-input{
    border-radius: 10px;
    width: 60%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    transition: ease 0.2s;
    margin: 0 auto;
    display: block;
    
}

.axie-input:valid,
.axie-input:focus{  
    padding: 0 20px;
    border-radius: 10px;
    width: 80%;
    border: none;
    height: 60px;
    font-size: 18px;
    transition: ease 0.5s;
}
.axie-input:valid{
    height: 50px;
}

.axie-input.done{
    width: 90%;
    padding: 0 50px;
    margin-left: 30xpx;
}


.axie-input-label{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.axie-input:focus + .axie-input-label,
.axie-input:valid + .axie-input-label{
    z-index: -1;
}
.loading-section{
    font-size: 2rem;
    margin: 20px auto 40px;
    transition: ease 0.5s;
    /* padding-bottom: 20px; */
}
.loading-icon{
    animation-name: rotate-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.input-checkmarks{
    position: absolute;
    right: 6%;
    top: -4px;
    font-size: 36px;
    opacity: 0;
    height: 100%;
    /* transform: scale(2); */
    
}
.input-checkmarks.in{
    opacity: 1;
    transition: ease-in 0.1s;
}
.out{
    transition: ease-in-out 0.5s!important;
    opacity: 0;
}

/* #night-mode-button{
    position: absolute;
    right: 5px;
    opacity: 0;
    width: 58px;
    height: 50px;
    font-size: 50px;
    z-index: 3;
}
.navbar-section.active #night-mode-button{
    opacity: 1;
} */

#input-section-error{
    opacity: 0;
    height: 0;
    transition: opacity 1s ease-out;
}
#input-section-error.active{
    height: auto;
    opacity: 1;
    
}
.move-stacks{
    position: relative;
    cursor: pointer;
}

.notify-box{
    text-align: center;
    position: fixed;
    border-radius: 5px;
    background-color: rgba(198, 234, 255, 0.9);
    width: 80%;
    line-height: 40px;
    font-size: large;
    z-index: 2;
    padding: 10px;
    top: 25%;
    right: 50%;
    -webkit-transform: translate(+50%, -50%);
    transform: translate(+50%, -50%);
    transition: ease-in-out 0.5s;
    animation: appearfrombottom 2s linear ;
}
@keyframes appearfrombottom{
    0% {
        opacity: 0;
        right: 0;
    }
    15% {
        opacity: 1;
        right: 54%;
    }
    20% {
        opacity: 1;
        right: 48%;
    }
    23% {
        opacity: 1;
        right: 50%;
    }
    100% {
        opacity: 1;
        right: 50%;
    }
}

/* .input-section:focus-within{
   
    background: linear-gradient(to right,#ee7752, #e73c7e, #23a6d5, #23d5ab );
    background-size: 600px 200px;
} */

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


.container.row{
    border: solid 5px gray;
    border-radius: 15px;
}

.axie-box{
    border: solid 5px gray;
    border-radius: 15px;
    
}

.axie-box-green{
    border: solid 5px green;
}

i.fa-arrow-right{
    transition: linear 0.1s;
}

i.fa-arrow-right:hover{
    transition: linear 0.1s;
}

a{
    color: inherit;
}
a:hover{
    color: inherit;
}

.axie-img img{
    max-width: 100%;
    min-width: 100px;
}

.row.axie-box{
    height: 100%;
    background-color: white;
}
.cal-intro{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.calculator-section{
    display: none;
    background-color: white;
    min-height: 400px;
}


.cal-image-box-sm{
    display: none;
    text-align: center;
    width: 100%;
    background: url(./resources/img/bg.jpg) ;
    background-size: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.cal-image-box-sm img{
    width: 80%;
    animation: bouncing 1.5s infinite linear;

}
.cal-image-box img{
    min-height: 100%;
    width: calc(100% + 1px);
    animation: bouncing 1.5s infinite linear;
    object-fit: cover;
    object-position: 30%;
    transition: all 2s;
}
.cal-image-box{
    padding-left: 0;
    padding-right: 0;
    border-right:solid 5px gray;   
    background-repeat: repeat-x;
    background: url(./resources/img/bg2.png)  center ;
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.row{
    height: inherit;
}

.axie-moves.btn{
    /* border: solid 1px gray;
    transition-duration: 0.4s; */
    /* box-shadow: 2px 2px 2px; */
    background-color: white;
    border-radius: 15px;
}
.move-stacks{
    display: inline-block;
    padding: 5px;
    border-radius: 0.25rem;
}
.cal-reset{
    cursor: pointer;
}
.cal-reset:hover{
    font-weight: 500;
    text-decoration: underline;
}
.cal-reset:hover icon{
    animation-name: rotate-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transition: all 1s; */
}
@keyframes rotate-circle{
    0%{transform:rotate(360deg);}
    100%{transform:rotate(-360deg);}
}

@keyframes bouncing{
    0%{transform: translateY(0px)}
    60%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}

@media screen and (max-width: 500px) {
    .cal-image-box{
        display: none;
    }
    .cal-image-box-sm{
        display: block;
    }
    #contain-bg{
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {
    .axie-input.done{
        width: 80%;
        padding: 0 40px 0 20px;
         
    }
    .input-checkmarks{
        right: 15%;
    }
}